<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charcset="utf-8">
        <title>Sample Program</title>
    </head>
    <body>
        <h1>*** Toy-Chat ***</h1>
        <%= yield %>
    </body>
</html>

